.box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 80%;

  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 10px;

}


.center{

  width: 100px;
  height: 49px;
}

select {
padding-right: 52px;
padding-left: 10px;

  border-radius: 10px;
  outline: none;
  box-shadow: none;

  background-image: url('../images/select-box.png');
  background-position: calc(100%) calc(1em + -16px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: contain;
    background-repeat: no-repeat;
   
    height: 49px;
    font-size: 16px;

    width: 100%;
    position: relative;
    background-color: white;
    border: thin solid #284c96;

    color: #818181;
 
}

 select:after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none
}



.power{
  width: 300px;
  height: 90px;
}

#tbNumber {
  width: 50px;
  height: 45px;
  border-radius: 10px;

 
  outline: none;
  padding: 10px; 
 border: thin solid #284c96; 

 margin-left: -190px;
  
}

.buttoncover{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 15px 20px;
  height: 50px;
  width: 200px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30c93e;
  min-width: 276px;
  font-size: 16px;
  margin: 0 auto;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;

}

.button:hover{

  color: #fff !important;
  border-color: #30c93e;
  background-color: #f1c40f;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.7)
}
.power {

  display: none;
}

.result{

  width: 100%;
  margin-bottom: 20px;
}


@media only screen and  (max-width: 767px) {

  .box{
    grid-template-columns: 2fr 2fr 1fr;

    margin-left: 30px;
    padding-left: 20px;
  
  }

  select {
      height: 39px;
      padding-left: 0;
  }

  #tbNumber {
   
  
   margin-left: 0px;
   margin-top: -5px;
    
  }
  
}
